@font-face {
    font-family: "Arial";
    src: url("assets/fonts/arial.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geogia";
    src: url("assets/fonts/georgia.ttf");
    font-weight: 400;
    font-style: normal;
}

$primary-font: "Arial", Helvetica, sans-serif;
$secondary-font: "Georgia", Times, sans;

html {
    font-size: 10px;
}

body {
    font-family: $primary-font;
    font-size: 1.5rem;        
}