$color-brand: #F1CDB3;
$color-brand-light: #FDDCC4;
$color-background: #F6F6F6;
$color-card-backround: #FAFAFA;
$color-heading: #545454;
$color-paragraph: #4C4C4C;
$color-first-parapraph: #CDCDCD;
$color-button-text: #292929;
$color-additional-grey: #B2B2B2;

$content-width: 1280px;
$tablet-width: 767.9px;
$mobile-width: 320px;
