.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    @include media-tablet {        
        padding-left: 30px;
        padding-right: 30px;
    }

    @include media-mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
}