*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


ul {
    list-style-type: none; 
    padding-left: 0;   
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: $color-heading;
}

p {
  line-height: 2.4rem;
  color: $color-paragraph;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.overflow {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: rgba(41, 41, 41, 0.6);
  transition: opacity 0.4s ease-in-out;
}